@import "vars/colors.scss", "layout/typography.scss",
  "layout/login-register.scss", "layout/account.scss", "layout/marc.scss";

// General
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: $color-white;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  display: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.loading {
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  height: 100vh;
  z-index: 100000;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
}

// hide horizontal scrollbar
::-webkit-scrollbar {
  display: none;
}

// Containers
.container {
  max-width: 425px;
  margin: 0 auto;
}

// Images
img {
  width: 100%;
}

.trip-button-wishlist {
  background-color: $color-red;
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.2rem;
  transition: all 0.2s;

  &:hover {
    color: $color-blue;
    font-size: 1.4rem;
  }
  &.active {
    color: $color-blue--lighter;
    font-size: 1.3rem;
  }
}

// Startpage - Home
.home {
  &__intro-container {
    margin: 35px 25px 0px 25px;
    .logo {
      width: 200px;
    }
    .tagline {
      font-size: 20px;
      font-weight: 100;
      color: $color-blue;
      margin-bottom: 10px;
      margin-top: 40px;
    }
    .title {
      max-width: 300px;
    }
    .btn {
      margin-top: 35px;
      margin-left: 120px;
    }
  }
  &__trips-container {
    position: relative;
    margin-top: 50px;
  }
}

// Trips
.trips {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  fieldset {
    border: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .trip-item {
    > a {
      position: relative;
    }
  }

  &__heading-container {
    margin: 15px 25px 0px 25px;
  }
  .trips-group {
    display: grid;
    width: 100%;
    max-height: 75vh;
    transition: 1s all;
    grid-auto-flow: column;
    > li {
      width: 23rem;
      padding: 10px 25px;
      &.trips-end {
        margin-top: 15rem;
      }
    }
  }
  .trips-button-skip {
    padding: 20px 25px;
    position: absolute;
    left: 25px;
    bottom: 1.5rem;
    width: calc(100% - 50px);
    background-color: $color-blue;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.2s;
    font-weight: 500;

    &:hover {
      color: black;
      background-color: $color-blue--lighter;
    }

    &.disabled {
      background-color: lightgrey;
      cursor: not-allowed;
      &:hover {
        color: lightgrey;
        background-color: grey;
      }
    }
  }
  .trips-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    grid-row-gap: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    height: 100%;
    overflow: visible;
    li {
      width: 100%;
      min-width: 0;
      min-height: 0;
      aspect-ratio: 9 / 13;
      margin: 0;
      .trip-image-container {
        height: 100%;
        img {
          border-top-right-radius: 8rem;
        }
      }
      .trip-title-container {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;

        h3 {
          margin: 0;
          font-size: 1.2rem;
          max-width: 8.5rem;
          text-align: start;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
  .title {
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
  }
}

// All trips - List
ul.trips-list {
  left: 0;
  width: 100%;
  display: flex;
  overflow: auto;
  flex-grow: 1;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  color: $color-white;
  overflow-y: hidden;
  min-height: 400px;
  li {
    min-width: 250px;
    flex: 0 0 auto;
    margin: 0px 20px 0px 0px;
    list-style-type: none;
    align-items: stretch;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 200px;
    min-height: 400px;
    > a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
    }
    &:first-child {
      padding-left: 0px;
    }
    img {
      position: absolute;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      border-radius: 15px;
      border-top-right-radius: 190px;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  li.active {
    transform: scale(1.03) !important;
  }
}

// Single trip
.trip {
  margin: 0;
  display: flex;
  justify-content: center;
  max-width: unset;
  &__image-container {
    position: fixed;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  &__details-container {
    position: sticky;
    padding: 30px 25px 30px 25px;
    border-top-left-radius: 40px;
    z-index: 2;
    background: $color-white;
    margin: 200px 20px 0px 20px;
    width: 100%;
    .title-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      p {
        margin: 0;
      }
      .title {
        margin: 0;
        font-size: 35px;
      }
      .price {
        font-size: 40px;
        font-weight: 600;
        text-align: right;
      }
      .per-person {
        text-align: right;
      }
    }
    .inner-container {
      section {
        margin-bottom: 50px;
      }
    }
  }
}

// Book trip
.book-trip {
  &__image-container {
    height: 100px;
  }
  &__details-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  form.booking-form {
    .select-box {
      display: inline-block;
      margin: 0 5px 0 0;
      width: 100%;
      position: relative;
      padding: 30px 0px;
      border-radius: 4px;
      border: solid 0.5px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      label,
      input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      input[type="radio"] {
        opacity: 0.011;
        z-index: 100;
      }
      input[type="radio"]:checked + label {
        background-color: $color-blue;
        color: $color-white;
      }
      label {
        cursor: pointer;
        z-index: 90;
        line-height: 1.8em;
        padding: 15px 25px;
      }
    }
    .select-box-room {
      min-height: 30px;
    }
    .personal-info {
      input {
        border: none;
        font-size: 20px;
        width: 100%;
        padding: 10px 0px;
        color: $color-grey;
      }
    }
    .book-btn {
      cursor: pointer;
    }
  }
}
.book-btn-container {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    fieldset {
      padding: 0;
    }
  }
  .spacer {
    width: 100px;
  }
}
.book-btn {
  padding: 10px 50px;
}

.confirmed {
  h2 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .buttons-container {
    display: flex;
    justify-content: flex-end;
  }
}

// Intersection observer animations
.slide-in-left {
  opacity: 0;
  transform: translateX(20px); /* Initial position off-screen */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slide-in-left.in-view {
  opacity: 1;
  transform: translateX(0); /* Slide in from the left */
}

.slide-in-top {
  opacity: 0;
  transform: translateY(20px); /* Initial position off-screen */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slide-in-top.in-view {
  opacity: 1;
  transform: translateY(0); /* Slide in from the top */
}
