<article class="login">
  <section class="login_form_container">
    <form action="/login" method="post">
      <h1>Log in</h1>
      <label for="username">Username</label>
      <input class="input-box" type="text" id="username" name="username" />
      <label for="password">Password</label>
      <input class="input-box" type="password" id="password" name="password" />

      <button class="btn" type="submit">Log in</button>
      <div class="wrong_login"><%- loginFailed %></div>
      <a href="/register">Register here!</a>
    </form>
  </section>
</article>
