$color-white: #ffffff;
$color-black: #000000;
$color-grey: #909090;
$color-grey--lighter: #c9c9c9;
$color-blue: #1b2739;
$color-blue--lighter: #4ca6fe;
$color-orange: #e85c05;
$color-red: #e80505;
$color-green: #0ed600;
$color-orange--lighter: #fbc96d;
